---
import Layout from '../layouts/Layout.astro';
---

<Layout title="This is the beginning">
	<main>
		<h1>Hello <b>World</b>!</h1>
	</main>
</Layout>

<style>
	main {
		text-align: center;
	}
</style>